
body{
  font-family: 'Bai Jamjuree', sans-serif;
}
.navbar {
  padding: 10px;
  /* background-color:rgb(182, 182, 182); */
}
.login{
  background-color:rgb(175, 175, 175);
  padding: 6px;
  border-radius: 20%;
}
.navbar .popup {
  position: left;
  text-align: right;
  cursor : pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pop {
  position: relative;
  display: center;
  user-select: none;
  
}

/* The actual popup */
.popuptext {
  visibility: hidden;
  width: 340px;
  background-color: #688ebe;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-top : 90px;
  left: 40%;
}
.intext {
	appearance: none;
	border: none;
	outline: none;
  margin-top:1px ;
 
	border-bottom: .2em solid #0d5497;
	background: #d3e2f0;
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #0e254b;
}
#user{
  /* border: 2px solid blue; */
  border-radius: 10%;
  font-size: 14px;
  margin-top: 60px;
  margin-left:66px;
  margin-bottom: 5px;
  width: 100px;
}
#pass{
  display: center;
  font-size: 14px;
  border-radius: 10%;
  margin-top: 20px;
  margin-left: 65px;
  margin-bottom: 5px;
  width: 100px;
}

.submit{
  font-family: 'Bai Jamjuree', sans-serif;
  padding:8px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30%;
  border: none;
	outline: none;
  background-color: #0f5faa;
  
	&:hover, &:active {
		background: #0a4072;
		color: #fff;
	}
}
/* .pop .submit button{
  border-radius: 20%;
  background-color: bisque;
} */

/* Popup arrow */
/* .popup .popuptext::after {
  content: "^";
  position: absolute;
  top: -200%;
  left: 50%;
  margin-left: -5px;
  border-width: -10px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */


/* Toggle this class - hide and show the popup */
.pop .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

